<div class="modal" id="login" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">
				<div class="register-full-width-container">
					<div class="margin-auto">
						<div
							class="auth-card">
							{# <div class="card-image">
																													<img src="/image/product/8" alt="">
																												</div> #}
							<div class="auth-card-body">
								<img src="/images/logo.png" alt="" style="margin: auto auto 30px; display: block;">
								<h2 class="title">Welcome Back</h2>
								<h4>Sign in to your account</h4>
								<form method="POST">

									<div class="input-group">
										<label>Email / Mobile</label>
										<input class="input--style-3" type="text" name="user">
									</div>


									<div class="input-group">
										<label>Password</label>
										<input class="input--style-3" type="password" name="password">
										<small></small>
									</div>

									<div class="p-t-10 text-center">
										<input type="hidden" name="action" value="login">
										<button class="btn btn-success" type="submit">Login</button>
									</div>

									<div class="all-ready-user">
										<p>‘Don’t have account?
											<a href="javascript:void(0)" data-dismiss="modal" data-toggle="modal" data-target="#registor">Sign up</a>
										</p>
										<p>
											<a href="/checkout/guest">Continue as guest</a>
										</p>
									</div>


								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>