<div class="modal home-delivery" id="pickup" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body">
				<div class="register-full-width-container">
					<div class="margin-auto">
						<div class="auth-card">
							<div class="auth-card-body">
								<img src="/images/logo.png" style="margin: auto auto 30px; display: block;">
								<form method="post">
									<div class="d-flex">
										<div class="input-group">
											<button type=button onclick="pickup.deliver()" title="We will delivery items to your address given in form" class="btn btn-warning">Deliver</button>
										</div>
										<div class="input-group">
											<button type=button onclick="pickup.collect()" title="You can collect your item as per our nearby location" class="btn btn-danger">Collect</button>
										</div>										

										<div class="input-group">
											<button type=button onclick="pickup.collect()" title="You can pickup your items at selected stores in list" class="btn btn-warning">Pickup</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
