<div class="col-md-7 col-12">
	<div class="strip_right">
		{# <ul>
			<li>
				<a href="/track">
					<img src="images/icons/tracking-truck.png" alt="">
					Track Order
				</a>
			</li>
			<li>
				<a href="/find-store">
					<img src="images/icons/map-marker.png" alt="">
					Find a Store
				</a>
			</li>
		</ul> #}
	</div>
</div>
