{% import "macros/form.twig" as form %}
<!DOCTYPE html>
<html lang="en">
  {% include "comp/head.twig" %}
  <body>
    {% include "comp/header.twig" %}
    {{form.registration()}}
	{% include "comp/footer.twig" %}
    <script src="/js/script.min.js"></script>
    <script>

    </script>
  </body>
</html>