<!DOCTYPE html>
<html lang="en">
  {% include "comp/head.twig" %}
  <body>
    {% include "comp/header.twig" %}

    <div class="container">
    	<div class="dashcontrol">
    		<div class="row">
				<div class="col-md-3">
					<div class="profile">
						Hello, User!<br>
						<a href="">Sign Out</a>
					</div>
					<ul class="prflleft">
			            <li>
			              <a href="/order">
			                <i class="icon icon-notepad"></i> Order
			              </a>
			            </li>
			            <li>
			              <a href="/address">
			                <i class="icon icon-book"></i> Address
			              </a>
			            </li>
			            <li>
			              <a href="/payment">
			                <i class="icon icon-credit-card-o"></i> Payment
			              </a>
			            </li>
			            <li class="active">
			              <a href="/secrets-credits">
			                <i class="icon icon-coins"></i> Secrets Credits
			              </a>
			            </li>
			            <li>
			              <a href="/returns">
			                <i class="icon icon-returns"></i> Returns
			              </a>
			            </li>
			            <li>
			              <a href="/claims">
			                <i class="icon icon-claims"></i> Claims
			              </a>
			            </li>
			            <li>
			              <a href="/profile">
			                <i class="icon icon-user"></i> Profile
			              </a>
			            </li>
			        </ul>
				</div>
				<div class="col-md-9">
					<div class="prflright">
						<div class="prflrighttop">
							<h1 class="ordtitle">Wallet</h1>
							<p>Keep track of your credit amount and transactional history.</p>
						</div>
						<div class="tabctrl">
						  	<button type="button" class="btn btn-lg btn-info collapsed" data-toggle="collapse" data-target="#demo">Redeem your noon gift card</button>
						 	 <div id="demo" class="collapse">
							   <div class="add_gift">
							   		<input type="text" placeholder="Enter your gift card number" maxlength="30" value="">
							   		<button>Redeem</button>
							   	</div>
						  	</div>
						</div>
						<div class="prflrightbtm nbtm">
							<h1 class="ordtitle">You don't have any noon credits yet!</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	
	{% include "comp/footer.twig" %}
    <script src="/js/script.min.js"></script>
  </body>
</html>